<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/static/css/style.css}" />
    <title>Users</title>
    <script th:src="@{/static/js/script.js}"></script>
</head>
<body>
<div class="container">
    <h1>Users</h1>

    <hr style="width: 100%; margin: 15px 0;">

    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th>Snippet posted</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.isEmpty()}">
            <td colspan="3">No Users</td>
        </tr>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.username}"> Title </span></td>
            <td><span th:text="${user.role}"> Author </span></td>
            <td><span th:text="${user.snippets.size()}"> Author </span></td>
        </tr>
        </tbody>
    </table>
    <button id="backBtn" type="button" onclick="backToLatest()">Back to latest</button>
</div>
</body>
</html>